In [1]:
import numpy as np 
import pandas as pd 
# importing the dataset
df_train = pd.read_csv('train.csv',nrows = 10000)

In [2]:
df_train.head(5)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [3]:
df_producto = pd.read_csv('producto_tabla.csv')
df_producto.head(3)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41

In [4]:
df_clienta = pd.read_csv('cliente_tabla.csv')
df_clienta.head(3)

   Cliente_ID     NombreCliente
0           0        SIN NOMBRE
1           1  OXXO XINANTECATL
2           2        SIN NOMBRE

## Data Wrangling

### Combining and Merging Data Sets

#### Merge Clienta with df_train

In [6]:
df_clienta_m = pd.merge(df_train, df_clienta, on='Cliente_ID')

#### Merge Producto with df_clienta_m

In [7]:
df_sample = pd.merge(df_clienta_m, df_producto, on='Producto_ID')

In [8]:
df_sample.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreCliente,NombreProducto
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3,PUESTO DE PERIODICOS LAZARO,Roles Canela 2p 120g BIM 1212
1,3,1110,7,3301,73838,1212,3,25.14,0,0.0,3,PTO REV JOSE CARLOS,Roles Canela 2p 120g BIM 1212
2,3,1110,7,3301,73844,1212,2,16.76,0,0.0,2,PUESTO DE REVISTA ROMAN,Roles Canela 2p 120g BIM 1212
3,3,1110,7,3301,198780,1212,4,33.52,0,0.0,4,DULCERIA HOSPITAL ESPAÑOL,Roles Canela 2p 120g BIM 1212
4,3,1110,7,3301,1159580,1212,3,25.14,0,0.0,3,PUESTO DE DULCES LIVERPOOL 2,Roles Canela 2p 120g BIM 1212

In [9]:
#check whether a DataFrame has one (or more) NaN values
df_sample.isnull().values.any()

False

In [12]:
df_sample.shape

(10194, 13)

### A list of Cliente_ID with duplicates

In [13]:
counts = df_sample.groupby('Cliente_ID').size()
df2 = pd.DataFrame(counts, columns = ['size'])
df2 = df2[df2['size']>1]

In [25]:
df2.shape

(1256, 1)

So there is 88 percent duplication

##### Reshaping with Hierachical Indexing

In [17]:
data = pd.DataFrame(np.arange(6).reshape((2,3)), index = pd.Index(['Ohio','Colorado'],
                                                              name ='state'),
                columns=pd.Index(['one','two','three'],name = 'number'))

In [18]:
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [19]:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

The DataFrame method duplicated returns a boolean Series indicating whether each
row is a duplicate or not. 

Relatedly, drop_duplicates returns a DataFrame where the duplicated array is True.

Both of these methods by default consider all of the columns; alternatively you can specify any subset of them to detect duplicates.

In [22]:
df_sample.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10164    False
10165    False
10166    False
10167    False
10168    False
10169    False
10170    False
10171    False
10172    False
10173    False
10174    False
10175    False
10176    False
10177    False
10178    False
10179    False
10180    False
10181    False
10182    False
10183    False
10184    False
10185    False
10186    False
10187    False
10188    False
10189    False
10190    False
10191    False
10192    False
10193    False
dtype: bool

In [27]:
def f(row):
    if row['NombreCliente'].unique():
        row['NombreCliente', 'Cliente_ID'] = row['Cliente'], 1
    return row

def view_unique_assessments(request):
    all_assessments = api.retrieve_assessments()
    assessments_by_microseries = {}

    for x in all_assessments:     
        if x.microseries in assessments_by_microseries:
            print("Already seen this microseries: %s" % x.microseries)
        else: 
            assessments_by_miniseries[x.microseries] = x

    unique_assessments = sorted(assessments_by_microseries.values())     
    return {'logged_in': logged_in_userid, 'unique_assessments': unique_assessments}

In [33]:
pd.unique(df_sample['Cliente_ID'].values.ravel())

array([  15766,   73838,   73844, ..., 4497910, 4516188, 4404022], dtype=int64)

In [37]:
df_sample['NombreCliente'].value_counts

<bound method IndexOpsMixin.value_counts of 0                  PUESTO DE PERIODICOS LAZARO
1                          PTO REV JOSE CARLOS
2                      PUESTO DE REVISTA ROMAN
3                    DULCERIA HOSPITAL ESPAÑOL
4                 PUESTO DE DULCES LIVERPOOL 2
5                            PUESTO DEGALLETAS
6                                DULCES GISELA
7                               JUGOS LA GUERA
8                                   JUGOS LUDU
9                                  DULCES MARY
10                            PUESTO DE DULCES
11                                LA PRINCIPAL
12                       PUESTO DE DULCES VEGA
13                          PUESTO DE DULCES 1
14                                COMEDOR WINS
15                             NO IDENTIFICADO
16                             NO IDENTIFICADO
17                             NO IDENTIFICADO
18                                    LA PERLA
19                                     CELLINI
20                     RESTAURANTE CAMPO MARTE
21                            OTBT S A  DE C V
22                             OTBT S A DE C V
23                            JUGOS Y LICUADOS
24        FARMACIA FRANCO ARGENTINA S A DE C V
25       FARMACIA FRANCO ARGENTINA S A  DE C V
26                  PUESTO DE PERIODICOS JESUS
27                    PUESTO DE DULCES HERASMO
28                    PUESTO DE DULCES LORENZO
29                          ABARROTES TACUBAYA
                         ...
10164                                   ROSITA
10165                 EL SUPERCITO DE EN MEDIO
10166                                 LA NUEVA
10167                             VIDEO JUEGOS
10168                        RECAUDERIA SANTOS
10169                           ABARROTES GABO
10170                               MR  FROGÍS
10171                                MR FROGÍS
10172                              LA PANCHITA
10173                     DEPOSITO VIVEROS III
10174                                   SARITA
10175                          CREMERIA VARGAS
10176                    CREMERIA LOS BASTONES
10177                           LICONSA 200137
10178                                 CRISALIN
10179                               LA PEQUEÑA
10180                             LUCIO BLANCO
10181                                  LOCAL 9
10182                                  LA REJA
10183                                EL VECINO
10184                                     SEGA
10185                           CREMERIA GISEL
10186                                 LA PEQUE
10187                                 YAZARETH
10188                                     DLIA
10189                                    CESAR
10190                                     MEGA
10191                        LA NUEVA ESTRELLA
10192                      ROBERTO NAVA GARCIA
10193                                 DON PEPE
Name: NombreCliente, dtype: object>