In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as DT

In [2]:
weather = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\UberData\weather.csv")

In [3]:
uber_2015 = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\UberData\uber_trips_2015.csv\uber_trips_2015.csv")

In [4]:
uber_2015.head(3)

       pickup_datetime  pickup_location_id dispatch_base affiliate_base
0  2015-05-17 09:47:00                 141        B02617         B02617
1  2015-05-17 09:47:00                  65        B02617         B02617
2  2015-05-17 09:47:00                 100        B02617         B02617

In [5]:
zones = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\UberData\zones.csv")

In [6]:
zones.columns

Index(['location_id', 'borough', 'zone', 'service_zone', 'nta_code'], dtype='object')

In [7]:
zones.columns = ['pickup_location_id', 'borough', 'zone', 'service_zone', 'nta_code']

In [8]:
df_uber = pd.merge(uber_2015,zones, on='pickup_location_id', how='left')

In [9]:
temp = pd.DatetimeIndex(df_uber['pickup_datetime'])
df_uber['Date'] = temp.date
df_uber['Time'] = temp.time

In [10]:
del df_uber['pickup_datetime']

In [11]:
df_uber.columns

Index(['pickup_location_id', 'dispatch_base', 'affiliate_base', 'borough',
       'zone', 'service_zone', 'nta_code', 'Date', 'Time'],
      dtype='object')

In [12]:
df_uber = df_uber[['Date', 'Time','pickup_location_id', 'dispatch_base', 'affiliate_base', 'borough',
       'zone', 'service_zone', 'nta_code']]

In [13]:
# Set some parameters to get good visuals - style to ggplot and size to 15,10
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 10)

In [14]:
demographics = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\UberData\demographics.csv")

In [15]:
df_zones_we = pd.merge(df_uber,demographics, on='nta_code', how='inner')

In [29]:
df_zones_we.to_csv(r"C:\Users\piush\Desktop\Dataset\UberData\dataframe.csv")

In [33]:
df_zones_we.pickup_location_id.unique()

array([141, 140, 202,  65,  25,  66, 100,  90, 234, 246,  68,  80, 228,
         7,   8,  74, 249, 158, 113, 114,  22, 263, 262,  61, 229, 233,
       164, 230, 162, 161, 186, 163, 237, 236, 142, 143, 188, 224, 238,
       239, 151,  24, 242,  95,  96,  87,  88, 209, 261,  13,  12,  48,
        50, 137, 170, 135, 145, 146, 193, 231, 125, 144, 211,  41,  42,
       148,  79,   4, 147, 255, 256, 181, 106, 166, 174,  62,  75,  37,
        33,  52,  17, 226,  28,  70, 235, 247, 244, 120,  89, 112,  36,
        94,  20,  64, 153, 127, 128, 225,  69,  97,  29, 129, 107,  85,
       179,  14,  82, 232,  45, 189, 149, 250,  55, 243, 196, 198,  76,
        49,  34, 116, 216,  39, 169, 223, 227, 131, 182, 197, 108,  10,
       184, 183,  58,  46, 203, 168, 123, 121, 195,  40,  54, 210, 150,
        63, 157,  72,  18, 119, 260, 207,  67,  71, 219, 257, 251, 133,
        92,  93,  56,  57, 258, 192, 220, 213, 248, 200, 126, 175,  32,
        21, 152, 171, 218, 165,   3, 191,  16, 240, 241, 124,  53, 178,
        73,  98, 118,  23, 180, 254,  27, 201,  30,  26, 212,  51, 222,
       259, 245, 134, 155, 154, 130,   2, 102,   6,  81, 159, 252,  91,
       185,  31, 173, 253,  15, 208, 205,   9, 167, 177,  35,  19,  60,
        59, 160,  11, 217,  78,  77, 215, 101, 136, 139,  47,  83, 122,
       214,  38, 117, 115,  86, 187, 221, 109, 110,   5, 206, 176, 156,
       172, 204,  84,  44], dtype=int64)

#### Exploring the columns with Permutation and Random Sampling
To select a random subset without replacement, one way is to slice off the k elements of an array returned by permutation, where k is the desired subet size.

In [ ]:
# Randomly sample 40% of your dataframe
df = df_zones_we.sample(n = 1000)

In [ ]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.take.html
df.take(sampler)

In [55]:
weather_2015 = weather_2015[[ 'Date','max_temp', 'min_temp', 'avg_temp', 'precipitation', 'snowfall',
       'snow_depth', 'location', 'latitude', 'longitude']]

In [59]:
df_weather = df_uber.join(weather_2015, on= 'Date', how='left', lsuffix="Date")

In [56]:
df_weather =  pd.merge(df_uber,weather_2015, on='Date', how='left')

In [61]:
df_uber.columns

Index(['Date', 'Time', 'pickup_location_id', 'dispatch_base', 'affiliate_base',
       'borough', 'zone', 'service_zone', 'nta_code'],
      dtype='object')

In [63]:
df_uber.dtypes

Date                  object
Time                  object
pickup_location_id     int64
dispatch_base         object
affiliate_base        object
borough               object
zone                  object
service_zone          object
nta_code              object
dtype: object

In [ ]:
df_uber['Date'] = pd.to_datetime(df_uber['Date'])