In [28]:
########################################################
# 1. Import packages and functions
########################################################
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

import sys
import time
from datetime import datetime, date, time

In [10]:
########################################################
# 2. Define variables which we will use later in the script
########################################################
#s_roor_folder = "C:\Users\piush\Desktop\Dataset\data\"
#s_train_file = 'train.csv' 
l_parse_date_cols = ['dt_prediction_date', 'dt_target_date', 'dt_flight_date']
l_target_cols = ['num_pax_000_014_mins_before_sdt', 'num_pax_015_029_mins_before_sdt', 'num_pax_030_044_mins_before_sdt', 'num_pax_045_059_mins_before_sdt', 'num_pax_060_074_mins_before_sdt', 'num_pax_075_089_mins_before_sdt', 'num_pax_090_104_mins_before_sdt', 'num_pax_105_119_mins_before_sdt',  'num_pax_120_134_mins_before_sdt', 'num_pax_135_149_mins_before_sdt', 'num_pax_150_164_mins_before_sdt', 'num_pax_165_179_mins_before_sdt',  'num_pax_180_194_mins_before_sdt', 'num_pax_195_209_mins_before_sdt', 'num_pax_210_224_mins_before_sdt', 'num_pax_225_239_mins_before_sdt', 'num_pax_240plus_mins_before_sdt']

In [109]:
len(l_target_cols)

17

In [47]:
###############################################
# 4. Read in csv file and parse dates. 
############################################
train = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\data_20161116\train.csv", parse_dates = l_parse_date_cols)
train = train.set_index('id')
test = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\data_20161116\test.csv", parse_dates = l_parse_date_cols)
test = test.set_index('id')

In [118]:
test2 = test[pd.isnull(test).any(axis=1)]

,dt_prediction_date,dt_target_date,s_model_type,cat_case_type,cat_i_flightno,dt_flight_date,num_flight_year,num_flight_month,num_flight_weekofyear,num_flight_dayofweek,cat_sdt_hour,cat_i_airport,cat_i_city,cat_destination_group_id,cat_longhaul_ind,num_airport_other_ops,num_airport_other_flights,num_city_other_ops,num_city_other_flights,cat_s_plane_capacity,cat_flight_class_type_id,ord_leisure,ord_irish_residents,ord_trip_duration,ord_female,ord_party_size,ord_bag_checkin,ord_arrive_by_car,num_pax_000_014_mins_before_sdt,num_pax_015_029_mins_before_sdt,num_pax_030_044_mins_before_sdt,num_pax_045_059_mins_before_sdt,num_pax_060_074_mins_before_sdt,num_pax_075_089_mins_before_sdt,num_pax_090_104_mins_before_sdt,num_pax_105_119_mins_before_sdt,num_pax_120_134_mins_before_sdt,num_pax_135_149_mins_before_sdt,num_pax_150_164_mins_before_sdt,num_pax_165_179_mins_before_sdt,num_pax_180_194_mins_before_sdt,num_pax_195_209_mins_before_sdt,num_pax_210_224_mins_before_sdt,num_pax_225_239_mins_before_sdt,num_pax_240plus_mins_before_sdt
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6921,2015-01-01,2016-01-01,52_weeks,Target,10478,2016-01-01,2016,1,53,4,15,10175,10119,14,0,1,11,1,11,151 - 200,556,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6931,2015-01-02,2016-01-02,52_weeks,Target,11063,2016-01-02,2016,1,53,5,8,10038,10126,14,0,1,16,1,16,151 - 200,553,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6932,2015-01-02,2016-01-02,52_weeks,Target,10869,2016-01-02,2016,1,53,5,19,10038,10126,14,0,1,16,1,16,151 - 200,553,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6933,2015-01-02,2016-01-02,52_weeks,Target,10533,2016-01-02,2016,1,53,5,18,10175,10119,14,0,1,9,1,9,151 - 200,553,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6934,2015-01-02,2016-01-02,52_weeks,Target,10135,2016-01-02,2016,1,53,5,15,10045,10177,4,0,1,2,1,2,151 - 200,553,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6935,2015-01-02,2016-01-02,52_weeks,Target,11195,2016-01-02,2016,1,53,5,15,10081,10209,4,0,1,3,1,3,151 - 200,553,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6936,2015-01-02,2016-01-02,52_weeks,Target,11021,2016-01-02,2016,1,53,5,12,10080,10002,5,0,0,0,0,0,001 - 050,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6956,2015-01-03,2016-01-03,52_weeks,Target,10406,2016-01-03,2016,1,53,6,13,10038,10126,14,0,1,17,1,17,151 - 200,553,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6957,2015-01-03,2016-01-03,52_weeks,Target,10996,2016-01-03,2016,1,53,6,7,10101,10182,2,0,0,0,0,0,151 - 200,553,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6958,2015-01-03,2016-01-03,52_weeks,Target,10003,2016-01-03,2016,1,53,6,12,10197,10142,4,0,1,2,1,2,151 - 200,553,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6959,2015-01-03,2016-01-03,52_weeks,Target,10635,2016-01-03,2016,1,53,6,15,10084,10083,2,0,1,1,1,1,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6974,2015-01-04,2016-01-04,52_weeks,Target,10899,2016-01-04,2016,1,1,0,8,10175,10119,14,0,1,12,1,12,151 - 200,553,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6975,2015-01-04,2016-01-04,52_weeks,Target,10715,2016-01-04,2016,1,1,0,13,10128,10076,4,0,0,0,0,0,151 - 200,553,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6998,2015-01-06,2016-01-06,52_weeks,Target,11005,2016-01-06,2016,1,1,2,20,10218,10192,4,0,2,5,2,5,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7048,2015-01-10,2016-01-10,52_weeks,Target,10326,2016-01-10,2016,1,1,6,19,10095,10085,5,0,1,10,1,10,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7116,2015-01-16,2016-01-16,52_weeks,Target,10403,2016-01-16,2016,1,2,5,22,10041,10010,5,0,2,3,2,3,001 - 050,549,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7209,2015-01-22,2016-01-22,52_weeks,Target,11031,2016-01-22,2016,1,3,4,16,10084,10083,2,0,1,1,1,1,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7237,2015-01-24,2016-01-24,52_weeks,Target,10686,2016-01-24,2016,1,3,6,14,10229,10068,5,0,1,5,1,5,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7238,2015-01-24,2016-01-24,52_weeks,Target,11094,2016-01-24,2016,1,3,6,7,10116,10055,2,0,0,1,0,1,151 - 200,549,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7239,2015-01-24,2016-01-24,52_weeks,Target,10926,2016-01-24,2016,1,3,6,17,10101,10182,2,0,0,0,0,0,101 - 150,549,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7253,2015-01-25,2016-01-25,52_weeks,Target,10836,2016-01-25,2016,1,4,0,18,10229,10068,5,0,1,5,1,5,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7262,2015-01-26,2016-01-26,52_weeks,Target,11124,2016-01-26,2016,1,4,1,17,10136,10118,14,0,1,12,1,12,051 - 100,556,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7306,2015-01-29,2016-01-29,52_weeks,Target,10094,2016-01-29,2016,1,4,4,6,10164,10036,6,0,0,1,0,1,151 - 200,556,5,5,3,2,4,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7322,2015-01-30,2016-01-30,52_weeks,Target,10755,2016-01-30,2016,1,4,5,8,10197,10142,4,0,1,1,1,1,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7337,2015-01-31,2016-01-31,52_weeks,Target,10857,2016-01-31,2016,1,4,6,15,10224,10217,5,0,1,10,1,10,051 - 100,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7338,2015-01-31,2016-01-31,52_weeks,Target,10864,2016-01-31,2016,1,4,6,16,10151,10013,2,0,2,9,4,12,101 - 150,549,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7348,2015-02-01,2016-02-01,52_weeks,Target,11198,2016-02-01,2016,2,5,0,14,10148,10063,4,0,2,4,2,4,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7356,2015-02-02,2016-02-02,52_weeks,Target,11117,2016-02-02,2016,2,5,1,6,10126,10162,2,0,1,7,1,7,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7360,2015-02-03,2016-02-03,52_weeks,Target,10587,2016-02-03,2016,2,5,2,6,10042,10011,5,0,1,5,1,5,051 - 100,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7401,2015-02-06,2016-02-06,52_weeks,Target,11187,2016-02-06,2016,2,5,5,13,10020,10151,5,0,2,6,2,6,051 - 100,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16530,2016-08-27,2016-08-28,01_day,Target,288,2016-08-28,2016,8,34,6,15,304,119,2,0,1,7,1,7,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16531,2016-08-27,2016-08-28,01_day,Target,113,2016-08-28,2016,8,34,6,19,261,305,5,0,1,4,1,4,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16532,2016-08-27,2016-08-28,01_day,Target,1105,2016-08-28,2016,8,34,6,17,153,229,4,0,1,1,1,1,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16533,2016-08-27,2016-08-28,01_day,Target,1273,2016-08-28,2016,8,34,6,17,225,176,4,0,2,6,2,6,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16534,2016-08-27,2016-08-28,01_day,Target,613,2016-08-28,2016,8,34,6,7,194,263,6,0,0,0,0,0,151 - 200,556,5,5,3,2,4,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16535,2016-08-27,2016-08-28,01_day,Target,383,2016-08-28,2016,8,34,6,5,227,278,2,0,0,1,0,1,101 - 150,549,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16536,2016-08-28,2016-08-29,01_day,Target,924,2016-08-29,2016,8,35,0,14,115,166,5,0,1,8,1,8,051 - 100,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16537,2016-08-28,2016-08-29,01_day,Target,319,2016-08-29,2016,8,35,0,16,197,200,5,0,1,9,1,9,051 - 100,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16538,2016-08-28,2016-08-29,01_day,Target,239,2016-08-29,2016,8,35,0,10,272,103,5,0,0,0,0,0,051 - 100,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16539,2016-08-28,2016-08-29,01_day,Target,541,2016-08-29,2016,8,35,0,7,110,253,2,0,0,1,1,3,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16540,2016-08-28,2016-08-29,01_day,Target,907,2016-08-29,2016,8,35,0,6,249,307,4,0,0,1,1,3,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16541,2016-08-28,2016-08-29,01_day,Target,359,2016-08-29,2016,8,35,0,17,228,180,6,0,1,1,1,1,151 - 200,549,5,5,3,2,4,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16542,2016-08-28,2016-08-29,01_day,Target,925,2016-08-29,2016,8,35,0,16,164,213,14,0,1,6,1,6,051 - 100,556,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16543,2016-08-29,2016-08-30,01_day,Target,770,2016-08-30,2016,8,35,1,13,175,310,4,0,3,3,3,3,151 - 200,549,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16544,2016-08-29,2016-08-30,01_day,Target,641,2016-08-30,2016,8,35,1,8,164,213,14,0,1,10,1,10,051 - 100,556,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16545,2016-08-29,2016-08-30,01_day,Target,333,2016-08-30,2016,8,35,1,10,164,213,14,0,1,10,1,10,051 - 100,556,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16546,2016-08-29,2016-08-30,01_day,Target,819,2016-08-30,2016,8,35,1,18,283,193,5,0,1,3,1,3,101 - 150,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16547,2016-08-29,2016-08-30,01_day,Target,232,2016-08-30,2016,8,35,1,14,271,144,1,1,0,2,0,2,300+,556,3,1,4,4,5,5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16548,2016-08-29,2016-08-30,01_day,Target,1117,2016-08-30,2016,8,35,1,6,102,257,5,0,1,8,1,8,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16549,2016-08-29,2016-08-30,01_day,Target,921,2016-08-30,2016,8,35,1,12,144,262,2,0,1,1,1,1,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16550,2016-08-29,2016-08-30,01_day,Target,784,2016-08-30,2016,8,35,1,8,164,213,14,0,1,10,1,10,051 - 100,556,1,3,2,2,2,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16551,2016-08-30,2016-08-31,01_day,Target,616,2016-08-31,2016,8,35,2,18,307,247,6,0,0,0,0,0,101 - 150,549,5,5,3,2,4,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16552,2016-08-30,2016-08-31,01_day,Target,870,2016-08-31,2016,8,35,2,13,102,257,5,0,1,8,1,8,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16553,2016-08-30,2016-08-31,01_day,Target,1114,2016-08-31,2016,8,35,2,8,339,156,5,0,1,3,1,3,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16554,2016-08-30,2016-08-31,01_day,Target,1090,2016-08-31,2016,8,35,2,16,339,156,5,0,1,3,1,3,151 - 200,556,2,2,1,3,3,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16555,2016-08-30,2016-08-31,01_day,Target,632,2016-08-31,2016,8,35,2,17,274,254,2,0,1,1,1,1,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16556,2016-08-30,2016-08-31,01_day,Target,207,2016-08-31,2016,8,35,2,7,336,170,4,0,0,0,0,0,151 - 200,556,5,5,3,4,5,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16557,2016-08-30,2016-08-31,01_day,Target,223,2016-08-31,2016,8,35,2,1,334,160,10,0,0,0,0,0,201 - 300,556,4,4,5,1,3,5,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16558,2016-08-30,2016-08-31,01_day,Target,1250,2016-08-31,2016,8,35,2,8,127,151,2,0,0,0,3,11,151 - 200,556,2,2,3,2,4,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16559,2016-08-30,2016-08-31,01_day,Target,1098,2016-08-31,2016,8,35,2,5,148,195,6,0,1,1,1,1,151 - 200,549,5,5,3,2,4,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
target = train[l_target_cols]

In [120]:
df1 = train.drop(l_target_cols,axis = 1)

In [121]:
# Concatenate the 2 data sets
df = df1.append(test2, ignore_index = True)

In [122]:
df.shape

(102620, 45)

In [123]:
num_pax_cols = ['num_pax_000_014_mins_before_sdt', 'num_pax_015_029_mins_before_sdt',
       'num_pax_030_044_mins_before_sdt', 'num_pax_045_059_mins_before_sdt',
       'num_pax_060_074_mins_before_sdt', 'num_pax_075_089_mins_before_sdt',
       'num_pax_090_104_mins_before_sdt', 'num_pax_105_119_mins_before_sdt',
       'num_pax_120_134_mins_before_sdt', 'num_pax_135_149_mins_before_sdt',
       'num_pax_150_164_mins_before_sdt', 'num_pax_165_179_mins_before_sdt',
       'num_pax_180_194_mins_before_sdt', 'num_pax_195_209_mins_before_sdt',
       'num_pax_210_224_mins_before_sdt', 'num_pax_225_239_mins_before_sdt',
       'num_pax_240plus_mins_before_sdt']

In [124]:
def is_outlier(points, thresh = 3.5):
    if len(points.shape) == 1:
        points = points[:,None]
    median = np.median(points, axis=0)
    diff = np.sum((points - median)**2, axis=-1)
    diff = np.sqrt(diff)
    med_abs_deviation = np.median(diff)

    modified_z_score = 0.6745 * diff / med_abs_deviation

    return modified_z_score > thresh

In [125]:
cats = []
for col in df.columns.values:
    if df[col].dtype == 'object':
        cats.append(col)

In [126]:
df_cont = df.drop(cats, axis=1)
df_cat = df[cats]

In [127]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Normalizer
from scipy.stats import skew

In [128]:
cats = []
for col in df2.columns.values:
    if df2[col].dtype == 'object':
        cats.append(col)

In [129]:
df_cont = df.drop(cats, axis=1)
df_cat = df[cats]

In [130]:
for col in df_cont.columns.values:
    if np.sum(df_cont[col].isnull()) > 50:
        #print("Removing Column: {}".format(col))
        df_cont = df_cont.drop(col, axis = 1)
    elif np.sum(df_cont[col].isnull()) > 0:
        #print("Replacing with Median: {}".format(col))
        median = df_cont[col].median()
        idx = np.where(df_cont[col].isnull())[0]
        df_cont[col].iloc[idx] = median
        
        
        outliers = np.where(is_outlier(df_cont[col]))
        df_cont[col].iloc[outliers] = median
        
               
        if skew(df_cont[col]) > 0.75:
            #print("Skewness Detected: {}".format(col))
            df_cont[col] = np.log(df_cont[col])
            df_cont[col] = df_cont[col].apply(lambda x: 0 if x == -np.inf else x)
        
        df_cont[col] = Normalizer().fit_transform(df_cont[col].reshape(1,-1))[0]

In [131]:
for col in df_cat.columns.values:
    if np.sum(df_cat[col].isnull()) > 50:
        df_cat = df_cat.drop(col, axis = 1)
        continue
    elif np.sum(df_cat[col].isnull()) > 0:
        df_cat[col] = df_cat[col].fillna('MIA')
        
    df_cat[col] = LabelEncoder().fit_transform(df_cat[col])
    
    num_cols = df_cat[col].max()
    for i in range(num_cols):
        col_name = col + '_' + str(i)
        df_cat[col_name] = df_cat[col].apply(lambda x: 1 if x == i else 0)
        
    df_cat = df_cat.drop(col, axis = 1)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [132]:
df_new = df_cont.join(df_cat)

In [133]:
X = df_new[:train.shape[0]]
test1 = df_new[train.shape[0]:]
test1.head()

,cat_destination_group_id,cat_flight_class_type_id,cat_i_airport,cat_i_city,cat_i_flightno,cat_longhaul_ind,cat_sdt_hour,dt_flight_date,dt_prediction_date,dt_target_date,num_airport_other_flights,num_airport_other_ops,num_city_other_flights,num_city_other_ops,num_flight_dayofweek,num_flight_month,num_flight_weekofyear,num_flight_year,ord_arrive_by_car,ord_bag_checkin,ord_female,ord_irish_residents,ord_leisure,ord_party_size,ord_trip_duration,cat_case_type_0,cat_s_plane_capacity_0,cat_s_plane_capacity_1,cat_s_plane_capacity_2,cat_s_plane_capacity_3,cat_s_plane_capacity_4,s_model_type_0,s_model_type_1,s_model_type_2,s_model_type_3
98043,14,556,10175,10119,10478,0,15,2016-01-01,2015-01-01,2016-01-01,11,1,11,1,4,1,53,2016,4,3,2,3,1,2,2,0,0,0,0,1,0,0,0,0,0
98044,14,553,10038,10126,11063,0,8,2016-01-02,2015-01-02,2016-01-02,16,1,16,1,5,1,53,2016,4,3,2,3,1,2,2,0,0,0,0,1,0,0,0,0,0
98045,14,553,10038,10126,10869,0,19,2016-01-02,2015-01-02,2016-01-02,16,1,16,1,5,1,53,2016,4,3,2,3,1,2,2,0,0,0,0,1,0,0,0,0,0
98046,14,553,10175,10119,10533,0,18,2016-01-02,2015-01-02,2016-01-02,9,1,9,1,5,1,53,2016,4,3,2,3,1,2,2,0,0,0,0,1,0,0,0,0,0
98047,4,553,10045,10177,10135,0,15,2016-01-02,2015-01-02,2016-01-02,2,1,2,1,5,1,53,2016,5,4,4,5,5,5,3,0,0,0,0,1,0,0,0,0,0

In [134]:
X = X.drop(['dt_flight_date','dt_prediction_date','dt_target_date'],axis = 1)

In [135]:
test1 = test1.drop(['dt_flight_date','dt_prediction_date','dt_target_date'],axis = 1)

In [136]:
print (str(len(X))+" rows for training set")
print (str(len(test1))+" rows for test set")
print (str(len(target))+" rows for target")

98043 rows for training set
4577 rows for test set
98043 rows for target

In [137]:
# sk learn import 
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.grid_search import GridSearchCV
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor,AdaBoostRegressor
from sklearn.ensemble.gradient_boosting import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
import xgboost as xgb
pd.set_option('display.max_columns', None) # display all columns

In [138]:
model = linear_model.LinearRegression()
model.fit(X, target)
predictions = model.predict(test1).astype(int)

print ('R-squared: %.4f' % model.score(X, target))

R-squared: 0.3379

In [139]:
predictions

array([[0, 0, 2, ..., 0, 0, 0],
       [0, 0, 4, ..., 0, 0, 0],
       [0, 0, 3, ..., 1, 0, 1],
       ...,
       [0, 0, 2, ..., 0, 0, 0],
       [0, 0, 3, ..., 0, 0, 0],
       [1, 0, 3, ..., 0, 0, 0]])

In [144]:
df4 = predictions.reshape((-1,17))

In [145]:
df5 = pd.DataFrame({'num_pax_000_014_mins_before_sdt':df4[:,0],'num_pax_015_029_mins_before_sdt':df4[:,1],'num_pax_030_044_mins_before_sdt':df4[:,2],
                    'num_pax_045_059_mins_before_sdt':df4[:,3],'num_pax_060_074_mins_before_sdt':df4[:,4],'num_pax_075_089_mins_before_sdt':df4[:,5],
                    'num_pax_090_104_mins_before_sdt':df4[:,6],'num_pax_105_119_mins_before_sdt':df4[:,7],'num_pax_120_134_mins_before_sdt':df4[:,8],
                    'num_pax_135_149_mins_before_sdt':df4[:,9],'num_pax_150_164_mins_before_sdt':df4[:,10],'num_pax_165_179_mins_before_sdt':df4[:,11],
                    'num_pax_180_194_mins_before_sdt':df4[:,12],'num_pax_195_209_mins_before_sdt':df4[:,13],'num_pax_210_224_mins_before_sdt':df4[:,14],
                    'num_pax_225_239_mins_before_sdt':df4[:,15],'num_pax_240plus_mins_before_sdt':df4[:,16]})

In [146]:
submission = pd.DataFrame()
submission["id"] = test2.index

In [154]:
df6 = pd.concat([submission, df5], axis=1)

In [155]:
df6.to_csv("attempt_PiushVaish_3.csv",index = False)

In [156]:
seed = 7
processors=1
num_folds=3
num_instances=len(X)
# Define error measure for official scoring : RMSE
scorer = make_scorer(mean_squared_error, greater_is_better = False)

kfold = KFold(n=num_instances, n_folds=num_folds, random_state=seed)

In [ ]:
# sk learn import 
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.grid_search import GridSearchCV
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor,AdaBoostRegressor
from sklearn.ensemble.gradient_boosting import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
import xgboost as xgb

# Prepare some basic models
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
models = []
#Linear Regression without regularization
models.append(('LR', linear_model.LinearRegression()))
#Linear Regression with Ridge regularization (L2 penalty)
#models.append(('Ridge', linear_model.MultiTaskLassoCV()))
#Linear Regression with Lasso regularization 
models.append(('MultiTaskLassoCV', linear_model.MultiTaskLassoCV()))
#Linear Regression with ElasticNet regularization (L1 and L2 penalty)
models.append(('ElasticNetCV', linear_model.ElasticNetCV()))
#Lasso Lars
models.append(('LassoLars', linear_model.LassoLarsCV()))
#Stochastic Gradient Descent
models.append(('SGD', linear_model.SGDRegressor()))
#Bayesian Ridge Regression
models.append(('Bayesian Ridge Regression', linear_model.BayesianRidge()))
# Robustly fit linear model with RANSAC algorithm
models.append(('RANSAC', linear_model.RANSACRegressor(linear_model.LinearRegression())))

#DecisionTreeRegressor
models.append(('DTR', DecisionTreeRegressor(max_depth=4)))

#AdaBoostRegressor
models.append(('ABR', AdaBoostRegressor(DecisionTreeRegressor(max_depth=4))))

#Kneighbors Regressor
models.append(('K-nn', KNeighborsRegressor()))

#Extra Forest Regressor
models.append(('ETR', ExtraTreesRegressor(n_estimators=10)))
#Random Forest Regressor
models.append(('RFR', RandomForestRegressor()))

#Gradient Boosting Regressor
models.append(('GBR', GradientBoostingRegressor()))

#XGB Regressor
models.append(('XGBR', xgb.XGBRegressor()))


# Evaluate each model in turn
results = []
names = []

for name, model in models:
    cv_results = cross_val_score(model, X, target, cv=kfold, scoring=scorer, n_jobs=processors)
    results.append(cv_results)
    names.append(name)
    print("{0}: ({1:.3f}) +/- ({2:.3f})".format(name, cv_results.mean(), cv_results.std()))

LR: (-42.285) +/- (0.706)