## Importing Data
Let us start with importing the basic libraries we need and the data set.

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore') 

sns.set_style('whitegrid')
pd.set_option('display.max_columns', None) # display all columns

In [2]:
# importing the dataset
df_train = pd.read_csv('train.csv')
df_train.head(5)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [3]:
df_test = pd.read_csv('test.csv')
df_test.head(5)

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

## Getting to know the data
Let us do some basic operations

In [6]:
print('Reading train data')
print('\nSize of training data: ' + str(df_train.shape))
print('Columns:' + str(df_train.columns.values))
print('\n')
print('dtypes')
print('\n')
print(df_train.dtypes)
print('\n')
#print('Info: ')
#print('\n')
#print(df_train.info)
print('Shape: ')
print('\n')
print(df_train.shape)
print('\n')
print('numerical columns statistcs')
print('\n')
print(df_train.describe())

Reading train data

Size of training data: (74180464, 11)
Columns:['Semana' 'Agencia_ID' 'Canal_ID' 'Ruta_SAK' 'Cliente_ID' 'Producto_ID'
 'Venta_uni_hoy' 'Venta_hoy' 'Dev_uni_proxima' 'Dev_proxima'
 'Demanda_uni_equil']


dtypes


Semana                 int64
Agencia_ID             int64
Canal_ID               int64
Ruta_SAK               int64
Cliente_ID             int64
Producto_ID            int64
Venta_uni_hoy          int64
Venta_hoy            float64
Dev_uni_proxima        int64
Dev_proxima          float64
Demanda_uni_equil      int64
dtype: object


Shape:


(74180464, 11)


numerical columns statistcs


             Semana    Agencia_ID      Canal_ID      Ruta_SAK    Cliente_ID  \
count  7.418046e+07  7.418046e+07  7.418046e+07  7.418046e+07  7.418046e+07
mean   5.950021e+00  2.536509e+03  1.383181e+00  2.114855e+03  1.802119e+06
std    2.013175e+00  4.075124e+03  1.463266e+00  1.487744e+03  2.349577e+06
min    3.000000e+00  1.110000e+03  1.000000e+00  1.000000e+00  2.600000e+01
25%    4.000000e+00  1.312000e+03  1.000000e+00  1.161000e+03  3.567670e+05
50%    6.000000e+00  1.613000e+03  1.000000e+00  1.286000e+03  1.193385e+06
75%    8.000000e+00  2.036000e+03  1.000000e+00  2.802000e+03  2.371091e+06
max    9.000000e+00  2.575900e+04  1.100000e+01  9.991000e+03  2.015152e+09

        Producto_ID  Venta_uni_hoy     Venta_hoy  Dev_uni_proxima  \
count  7.418046e+07   7.418046e+07  7.418046e+07     7.418046e+07
mean   2.084081e+04   7.310163e+00  6.854452e+01     1.302577e-01
std    1.866392e+04   2.196734e+01  3.389795e+02     2.932320e+01
min    4.100000e+01   0.000000e+00  0.000000e+00     0.000000e+00
25%    1.242000e+03   2.000000e+00  1.676000e+01     0.000000e+00
50%    3.054900e+04   3.000000e+00  3.000000e+01     0.000000e+00
75%    3.742600e+04   7.000000e+00  5.610000e+01     0.000000e+00
max    4.999700e+04   7.200000e+03  6.473600e+05     2.500000e+05

        Dev_proxima  Demanda_uni_equil
count  7.418046e+07       7.418046e+07
mean   1.243248e+00       7.224564e+00
std    3.921552e+01       2.177119e+01
min    0.000000e+00       0.000000e+00
25%    0.000000e+00       2.000000e+00
50%    0.000000e+00       3.000000e+00
75%    0.000000e+00       6.000000e+00
max    1.307600e+05       5.000000e+03

In [8]:
#check whether a DataFrame has one (or more) NaN values
df_train.isnull().values.any()

False

In [9]:
#the number of NaNs
df_train.isnull().sum().sum()

0

In [10]:
print('Reading test data')
print('\nSize of test data: ' + str(df_test.shape))
print('Columns:' + str(df_test.columns.values))
print('\n')
print('dtypes')
print('\n')
print(df_test.dtypes)
print('\n')
#print('Info: ')
#print('\n')
#print(df_train.info)
print('Shape: ')
print('\n')
print(df_test.shape)
print('\n')
print('numerical columns statistcs')
print('\n')
print(df_test.describe())

Reading test data

Size of test data: (6999251, 7)
Columns:['id' 'Semana' 'Agencia_ID' 'Canal_ID' 'Ruta_SAK' 'Cliente_ID'
 'Producto_ID']


dtypes


id             int64
Semana         int64
Agencia_ID     int64
Canal_ID       int64
Ruta_SAK       int64
Cliente_ID     int64
Producto_ID    int64
dtype: object


Shape:


(6999251, 7)


numerical columns statistcs


                 id        Semana    Agencia_ID      Canal_ID      Ruta_SAK  \
count  6.999251e+06  6.999251e+06  6.999251e+06  6.999251e+06  6.999251e+06
mean   3.499625e+06  1.049446e+01  2.504463e+03  1.401874e+00  2.138014e+03
std    2.020510e+06  4.999694e-01  4.010228e+03  1.513404e+00  1.500392e+03
min    0.000000e+00  1.000000e+01  1.110000e+03  1.000000e+00  1.000000e+00
25%    1.749812e+06  1.000000e+01  1.311000e+03  1.000000e+00  1.159000e+03
50%    3.499625e+06  1.000000e+01  1.612000e+03  1.000000e+00  1.305000e+03
75%    5.249438e+06  1.100000e+01  2.034000e+03  1.000000e+00  2.804000e+03
max    6.999250e+06  1.100000e+01  2.575900e+04  1.100000e+01  9.950000e+03

         Cliente_ID   Producto_ID
count  6.999251e+06  6.999251e+06
mean   1.819128e+06  2.216307e+04
std    2.938910e+06  1.869816e+04
min    2.600000e+01  4.100000e+01
25%    3.558290e+05  1.242000e+03
50%    1.200109e+06  3.150700e+04
75%    2.387881e+06  4.093000e+04
max    2.015152e+09  4.999700e+04

In [14]:
df_producto = pd.read_csv('producto_tabla.csv')
df_producto.head(3)

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41

In [15]:
df_clienta = pd.read_csv('cliente_tabla.csv')
df_clienta.head(3)

   Cliente_ID     NombreCliente
0           0        SIN NOMBRE
1           1  OXXO XINANTECATL
2           2        SIN NOMBRE

In [25]:
# let us see how many unique clients are there
df_clienta.groupby('NombreCliente').Cliente_ID.nunique()

NombreCliente
007                                         1
056 THE AIRPORT MARKET                      1
06                                          1
0RLANDO                                     1
1 2 3                                       3
1 DE ABRIL                                  1
1 DE DICIEMBRE                              1
1 DE JULIO                                  1
1 DE MARZO                                  3
1 DE MAYO                                   4
1 ER GPO DE CAB C G P                       1
1 MAS                                       1
1 MAS UNO                                   1
1 MAS UNO JULIAN ADAME                      1
1 MAS UNO LA ENCANTADA                      1
1 MAS UNO LA PEÑUELA                        1
1 MAS UNO LOPEZ MATEOS                      1
1 MAS UNO MANUEL M PONCE                    1
1 MAS UNO TORREON                           1
1 REGIMIENTO MECANIZADO                     1
10                                          1
10 C MENOS                                  1
10 CASTILLOS                                1
10 D                                        1
10 DE ABRIL                                 4
10 DE JUNIO                                 2
10 DE MAYO                                 10
10 DE NOVIEMBRE                             1
10 DE SEPTIEMPBRE                           1
10 HERMANOS                                 3
                                           ..
supercenter insurgentes la joya             1
tiendas de super precio petatlan 2          1
tiendas super precio eduardo neri           1
tiendas super precio isla                   1
tiendas super precio la laja                1
tiendas super precio san jeronimo           1
tiendas super precio tecpan 2               1
tiendas tres b agua prieta                  1
tiendas tres b coatlinchan                  1
tiendas tres b donato guerra                1
tiendas tres b gustavo baz                  1
tiendas tres b jiutepec                     1
tiendas tres b jojutla                      1
tiendas tres b la flor                      1
tiendas tres b moctezuma                    1
tiendas tres b morelos chipitla             1
tiendas tres b san pablito calmimilolco     1
tiendas tres b tejalpa                      1
tres b san felipe del progreso              1
waldos santa fe                             1
woolworth centro acapulco                   1
yepas can palau                             1
yepas colinas de santa fe ii                1
yepas jardines                              1
yepas juarez                                1
yepas tierra blanca                         1
ÍRODOLFO CALLEJAS CALLEJAS                  1
ÑEKA                                        1
ÑONTHE                                      1
ÑOÑO                                        1
Name: Cliente_ID, dtype: int64

In [16]:
df_town_state = pd.read_csv('town_state.csv')
df_town_state.head(3)

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO

#### Random sample as train is very big

 http://stackoverflow.com/questions/18713929/subsample-pandas-dataframe

In [11]:
#df.ix[np.random.random_integers(0, len(df), 10)]
#.sample(frac=0.1, replace=True)
# much faster than random. trying instead of sample 
df_sample = df_train.ix[np.random.choice(df_train.index,100000,replace=False)]

In [12]:
print(df_sample.head(4))

          Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID  \
58175236       8        1546         1      1221      978901        34053
65047381       9        1153         1      1255     2170351         1284
54028503       8        1123         1      1401     1013050         1240
5712437        3        1614         1      4401     1042979        34226

          Venta_uni_hoy  Venta_hoy  Dev_uni_proxima  Dev_proxima  \
58175236              5      22.50                0          0.0
65047381              3       9.06                0          0.0
54028503              4      33.52                0          0.0
5712437               4      34.24                0          0.0

          Demanda_uni_equil
58175236                  5
65047381                  3
54028503                  4
5712437                   4

## Fast and Simple Sampling in Pandas when Loading Data From Files

### Approach 1 – select every N-th line

#The data to load
f = "my_data.csv"
 
#Take every N-th (in this case 10th) row
n = 10
 
#Count the lines or use an upper bound
num_lines = sum(1 for l in open(f))
 
#The row indices to skip - make sure 0 is not included to keep the header!
skip_idx = [x for x in range(1, num_lines) if x % n != 0]
 
#Read the data
data = pd.read_csv(f, skiprows=skip_idx, ... )

## random selection

import random
 
#The data to load
f = "my_data.csv"
 
#Count the lines
num_lines = sum(1 for l in open(f))
 
#Sample size - in this case ~10%
size = int(num_lines / 10)
 
#The row indices to skip - make sure 0 is not included to keep the header!
skip_idx = random.sample(range(1, num_lines), num_lines - size)
 
#Read the data
data = pd.read_csv(f, skiprows=skip_idx, ... )

### Merge df_sample with Producto

An inner join focuses on the commonality between two tables. When using an inner join, there must be at least some matching data between two (or more) tables that are being compared. An inner join searches tables for matching or overlapping data. Upon finding it, the inner join combines and returns the information into one new table.

In [17]:
df_producto_merge = pd.merge(df_sample, df_producto, on='Producto_ID', how='left')

In [18]:
df_producto_merge.head(3)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreProducto
0,8,1546,1,1221,978901,34053,5,22.50,0,0.0,5,Nito 1p 62g SP BIM 34053
1,9,1153,1,1255,2170351,1284,3,9.06,0,0.0,3,Rebanada 2p 55g BIM 1284
2,8,1123,1,1401,1013050,1240,4,33.52,0,0.0,4,Mantecadas Vainilla 4p 125g BIM 1240

## Merge Clienta with df_sample

In [27]:
df_clienta_m = pd.merge(df_sample, df_clienta, on='Cliente_ID', how='inner')

In [28]:
df_clienta_m.head(2)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreCliente
0,8,1546,1,1221,978901,34053,5,22.50,0,0.0,5,CHAVE
1,9,1153,1,1255,2170351,1284,3,9.06,0,0.0,3,JYM

In [30]:
df_clienta_m.drop('Cliente_ID', axis=1, inplace=True)

In [33]:
df_clienta_m.shape

(100826, 11)

In [ ]:
#Let us plot product against the client
sns.stripplot(x= 'NombreCliente', y = 'Producto_ID', data=df_clienta_m)

## Let us check the duplicate

In [ ]:
df_clienta_duplicates = df_clienta_m.drop_duplicates(cols = 'NombreCliente', inplace = True)

In [ ]:
df_clienta_duplicates.shape