In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train1 = pd.read_csv(r'C:\Users\piush\Desktop\Dataset\GrumboData\train.csv',nrows = 20000)

import pandas

df = pandas.DataFrame(data)

Randomly sample 70% of your dataframe

df_0.7 = df.sample(frac=0.7)


Randomly sample 7 elements from your dataframe

df_7 = df.sample(n=7)

For either approach above, you can get the rest of the rows by doing:

df_rest = df.loc[~df.index.isin(df_0.7.index)]

In [4]:
# Randomly sample 20% of your dataframe
df_train = df_train1.sample(frac=0.2)

In [5]:
print (df_train.dtypes)

Semana                 int64
Agencia_ID             int64
Canal_ID               int64
Ruta_SAK               int64
Cliente_ID             int64
Producto_ID            int64
Venta_uni_hoy          int64
Venta_hoy            float64
Dev_uni_proxima        int64
Dev_proxima          float64
Demanda_uni_equil      int64
dtype: object

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 5281 to 18632
Data columns (total 11 columns):
Semana               4000 non-null int64
Agencia_ID           4000 non-null int64
Canal_ID             4000 non-null int64
Ruta_SAK             4000 non-null int64
Cliente_ID           4000 non-null int64
Producto_ID          4000 non-null int64
Venta_uni_hoy        4000 non-null int64
Venta_hoy            4000 non-null float64
Dev_uni_proxima      4000 non-null int64
Dev_proxima          4000 non-null float64
Demanda_uni_equil    4000 non-null int64
dtypes: float64(2), int64(9)
memory usage: 375.0 KB

In [7]:
#print summary of data frame
summary = df_train.describe()
print(summary)

       Semana   Agencia_ID    Canal_ID     Ruta_SAK    Cliente_ID  \
count  4000.0  4000.000000  4000.00000  4000.000000  4.000000e+03
mean      3.0  1110.607250     3.51525  1923.158500  1.263521e+06
std       0.0     0.488423     3.20731  1134.010072  1.563117e+06
min       3.0  1110.000000     1.00000  1001.000000  1.407500e+04
25%       3.0  1110.000000     1.00000  1010.000000  6.189000e+04
50%       3.0  1111.000000     1.00000  1019.000000  8.131595e+05
75%       3.0  1111.000000     7.00000  3309.000000  1.905385e+06
max       3.0  1111.000000    11.00000  3504.000000  9.678222e+06

        Producto_ID  Venta_uni_hoy     Venta_hoy  Dev_uni_proxima  \
count   4000.000000     4000.00000   4000.000000      4000.000000
mean   11167.274750        9.87625    123.976210         0.317000
std    15863.535115       40.03092    417.962415        10.976367
min       73.000000        0.00000      0.000000         0.000000
25%     1146.000000        2.00000     28.887500         0.000000
50%     1700.000000        4.00000     53.660000         0.000000
75%    30571.000000        9.00000    111.520000         0.000000
max    49185.000000     1260.00000  14200.200000       672.000000

       Dev_proxima  Demanda_uni_equil
count  4000.000000        4000.000000
mean      2.780585           9.821000
std      56.402139          40.031233
min       0.000000           0.000000
25%       0.000000           2.000000
50%       0.000000           4.000000
75%       0.000000           9.000000
max    3030.880000        1260.000000

In [8]:
df_test1 = pd.read_csv(r'C:\Users\piush\Desktop\Dataset\GrumboData\test.csv',nrows = 20000)

In [9]:
df_test = df_test1.sample(frac=0.2)

In [10]:
#frames = [df_train,df_test]
df = pd.merge(df_train,df_test,on = ['Producto_ID','Semana'],how = 'left')

In [11]:
df.head()

,Semana,Agencia_ID_x,Canal_ID_x,Ruta_SAK_x,Cliente_ID_x,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,id,Agencia_ID_y,Canal_ID_y,Ruta_SAK_y,Cliente_ID_y
0,3,1110,7,3316,1239291,325,2,16.30,0,0.0,2,NaN,NaN,NaN,NaN,NaN
1,3,1111,1,1021,1365504,1146,1,21.39,0,0.0,1,NaN,NaN,NaN,NaN,NaN
2,3,1111,1,1023,2205716,1182,4,55.76,0,0.0,4,NaN,NaN,NaN,NaN,NaN
3,3,1111,1,1006,151478,32802,2,23.82,0,0.0,2,NaN,NaN,NaN,NaN,NaN
4,3,1110,7,3310,4427232,1187,2,297.00,0,0.0,2,NaN,NaN,NaN,NaN,NaN

In [12]:
#let us drop id,
df.drop(['id','Semana','Agencia_ID_y','Canal_ID_y','Ruta_SAK_y','Cliente_ID_y','Agencia_ID_x','Canal_ID_x','Ruta_SAK_x','Cliente_ID_x'], axis=1, inplace=True)

In [13]:
df.head()

,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,325,2,16.30,0,0.0,2
1,1146,1,21.39,0,0.0,1
2,1182,4,55.76,0,0.0,4
3,32802,2,23.82,0,0.0,2
4,1187,2,297.00,0,0.0,2

•	Venta_uni_hoy — Sales unit this week (integer)

•	Venta_hoy — Sales this week (unit: pesos)

•	Dev_uni_proxima — Returns unit next week (integer)

•	Dev_proxima — Returns next week (unit: pesos)

•	Demanda_uni_equil — Adjusted Demand (integer) (This is the target you will predict)

•	Producto_ID — Product ID

In [14]:
#Returns object containing counts of unique values.
df['Producto_ID'].value_counts()

1146     313
2233     300
1125     243
1109     218
3631     213
1150     169
1129     158
1160     125
46772    111
73       108
32802     90
1182      86
3144      85
1250      63
48077     62
35651     59
2665      57
1240      55
693       54
34053     51
35144     49
1242      46
30571     44
47336     42
4910      39
35727     38
1700      36
32393     35
641       35
1212      35
        ...
31466      2
35924      2
32222      2
5621       2
30215      2
31513      2
2505       1
35455      1
2097       1
40886      1
1064       1
42122      1
30551      1
36130      1
1169       1
1167       1
33871      1
31720      1
4947       1
35452      1
8863       1
35118      1
6420       1
45305      1
32939      1
34468      1
49185      1
48421      1
5340       1
2063       1
Name: Producto_ID, dtype: int64

In [15]:
len(df['Producto_ID'])

4000

In [16]:
df['Producto_ID'].nunique()

143

In [17]:
import re
# Review input features (train set) - Part 2A
missing_values = []

for column in df:
    # Find all the unique feature values
    uniq = df[column].unique()
    print ("'{}' has {} unique values" .format(column,uniq.size))
    if (uniq.size > 25):
        print("~~Listing up to 25 unique values~~")
    print (uniq[0:24])
    print ("\n-----------------------------------------------------------------------\n")
    
    # Find features with missing values
    if (True in pd.isnull(uniq)):
        s = "{} has {} missing" .format(column, pd.isnull(train_set[column]).sum())
        missing_values.append(s)
    
    
  
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")
print ("Features with missing values:\n{}\n\n" .format(missing_values))

'Producto_ID' has 143 unique values
~~Listing up to 25 unique values~~
[  325  1146  1182 32802  1187  1129  1238  1150 35144  2233  1220  3144
  1643   715  3631 46772 32393 35651 47611 47336  1109  1242  1125  3894]

-----------------------------------------------------------------------

'Venta_uni_hoy' has 103 unique values
~~Listing up to 25 unique values~~
[ 2  1  4  8  3 16  5 85 25 20 18  6 45 10  9 19 52  7 51 14 36 31 12 35]

-----------------------------------------------------------------------

'Venta_hoy' has 844 unique values
~~Listing up to 25 unique values~~
[   16.3     21.39    55.76    23.82   297.     148.5    140.8     29.49
   223.04    41.88    88.    1742.5     79.76    17.6     38.2     85.28
     9.16    60.8     81.75   498.5     85.56    71.36    49.15    60.4 ]

-----------------------------------------------------------------------

'Dev_uni_proxima' has 20 unique values
[  0   5   2   1   9  20  28  15 672   3   4  43  21   6  11  12 152  40
  10   8]

-----------------------------------------------------------------------

'Dev_proxima' has 64 unique values
~~Listing up to 25 unique values~~
[    0.      40.75    25.      12.3     15.01    22.22   192.51    23.82
    16.35   192.      32.     598.92    14.79   122.25    21.32    24.6
    13.96    10.48  1209.6     42.78    41.9     19.2     56.58    19.94]

-----------------------------------------------------------------------

'Demanda_uni_equil' has 103 unique values
~~Listing up to 25 unique values~~
[ 2  1  4  8  3 16  5 85 25 20 18  6 45 10  9 19 52  7 51 14 36  0 31 12]

-----------------------------------------------------------------------


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Features with missing values:
[]

In [21]:
from sklearn import datasets, linear_model
from math import sqrt

In [22]:
xList = df.ix[:,['Producto_ID','Venta_uni_hoy','Venta_hoy','Dev_uni_proxima','Dev_proxima']]

In [24]:
xList

      Producto_ID  Venta_uni_hoy   Venta_hoy  Dev_uni_proxima  Dev_proxima
0             inf   -6920.999594    0.146814        -1.697387    -0.808334
1             inf   -6925.191463    0.641621        -1.697387    -0.808334
2             inf   -6912.615856    3.982783        -1.697387    -0.808334
3             inf   -6920.999594    0.877845        -1.697387    -0.808334
4             inf   -6920.999594   27.434108        -1.697387    -0.808334
5             inf   -6925.191463   12.998186        -1.697387    -0.808334
6             inf   -6895.848381   12.249657        -1.697387    -0.808334
7             inf   -6916.807725    1.429035        -1.697387    -0.808334
8             inf   -6862.313429   20.244338        -1.697387    -0.808334
9             inf   -6916.807725    2.633487        -1.697387    -0.808334
10            inf   -6908.423987    7.116885        -1.697387    -0.808334
11            inf   -6573.074472  167.953462        -1.697387    -0.808334
12            inf   -6912.615856    6.315862        -1.697387    -0.808334
13            inf   -6925.191463    0.273189        -1.697387    -0.808334
14            inf   -6908.423987    2.275748        -1.697387    -0.808334
15            inf   -6912.615856    6.852470        -1.697387    -0.808334
16            inf   -6920.999594   -0.547277        -1.697387    -0.808334
17            inf   -6920.999594    4.472730        -1.697387    -0.808334
18            inf   -6908.423987    6.509313        -1.697387    -0.808334
19            inf   -6824.586609   47.022243        -1.697387    -0.808334
20            inf   -6912.615856    6.879689        -1.697387    -0.808334
21            inf   -6895.848381    5.499284        -1.697387    -0.808334
22            inf   -6908.423987    3.340215        -1.697387    -0.808334
23            inf   -6845.545953    4.433845        -1.697387    -0.808334
24            inf   -6925.191463    0.641621        -1.697387    -0.808334
25            inf   -6920.999594    2.439063        -1.697387    -0.808334
26            inf   -6895.848381    4.394961        -1.697387    -0.808334
27            inf   -6853.929691   28.571483        -1.697387    -0.808334
28            inf   -6904.232119    3.765029        -1.697387    -0.808334
29            inf   -6740.749230   52.806333        -1.697387    -0.808334
...           ...            ...         ...              ...          ...
3970          inf   -6916.807725    3.330494        -1.697387    -0.808334
3971          inf   -6904.232119   11.038401        -1.697387    -0.808334
3972          inf   -6908.423987    2.523637        -1.697387    -0.808334
3973          inf   -6912.615856    1.050882        -1.697387    -0.808334
3974          inf   -6908.423987    2.635431        -1.697387    -0.808334
3975          inf   -6895.848381   12.249657        -1.697387    -0.808334
3976          inf   -6920.999594    2.439063        -1.697387    -0.808334
3977          inf   -6925.191463    0.634816        -1.697387    -0.808334
3978          inf   -6925.191463   -0.695038        -1.697387    -0.808334
3979          inf   -6900.040250    1.624430        -1.697387    -0.808334
3980          inf   -6908.423987    8.959045        -1.697387    -0.808334
3981          inf   -6904.232119    2.773471        -1.697387    -0.808334
3982          inf   -6828.778478   20.959816        -1.697387    -0.808334
3983          inf   -6925.191463    0.641621        -1.697387    -0.808334
3984          inf   -6920.999594    1.480557        -1.697387    -0.808334
3985          inf   -6904.232119   10.519291        -1.697387    -0.808334
3986          inf   -6904.232119   11.038401        -1.697387    -0.808334
3987          inf   -6904.232119   11.038401        -1.697387    -0.808334
3988          inf   -6912.615856    6.852470        -1.697387    -0.808334
3989          inf   -6925.191463    0.395676        -1.697387    -0.808334
3990          inf   -6912.615856    0.654259        -1.697387    -0.808334
3991          inf   -6920.999594    2.720977        -1.697387    -0.808334
3992          inf   -6895.848381   10.064341        -1.697387    -0.808334
3993          inf   -6908.423987    2.897902        -1.697387    -0.808334
3994          inf   -6916.807725    4.800333        -1.697387    -0.808334
3995          inf   -6908.423987    8.254261        -1.697387    -0.808334
3996          inf   -6866.505298    9.702713        -1.697387    -0.808334
3997          inf   -6853.929691   33.453449        -1.697387    -0.808334
3998          inf   -6891.656512   10.758431        -1.697387    -0.808334
3999          inf   -6920.999594    0.428728        -1.697387    -0.808334

[4000 rows x 5 columns]