In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv(r'C:\Users\piush\Desktop\Dataset\RedHat\act_train.csv')

In [3]:
df_submission = pd.read_csv(r'C:\Users\piush\Desktop\Dataset\RedHat\sample_submission.csv')

In [4]:
df_people = pd.read_csv(r'C:\Users\piush\Desktop\Dataset\RedHat\people.csv')

Pandas - Cleaning data We then review a selection of the data.

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
%pylab inline

# Set the global default size of matplotlib figures
plt.rc('figure', figsize=(10, 5))
# Size of matplotlib figures that contain subplots
fizsize_with_subplots = (10, 10)
# Size of matplotlib histogram bins
bin_size = 10

Populating the interactive namespace from numpy and matplotlib

In [6]:
df_train.head(5)

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [7]:
df_submission.head(5)

   activity_id  outcome
0       act1_1        0
1  act1_100006        0
2  act1_100050        0
3  act1_100065        0
4  act1_100068        0

In [8]:
df_people.head(5)

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

In [9]:
# Review input features
print ("\n\n---------------------")
print ("TRAIN SET INFORMATION")
print ("---------------------")
print ("Shape of training set:", df_train.shape, "\n")
print ("Column Headers:", list(df_train.columns.values), "\n")
print (df_train.dtypes)

---------------------
TRAIN SET INFORMATION
---------------------
Shape of training set: (2197291, 15)

Column Headers: ['people_id', 'activity_id', 'date', 'activity_category', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'outcome']

people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome               int64
dtype: object

In [10]:
import re
missing_values = []
nonumeric_values = []

print ("TRAINING SET INFORMATION")
print ("========================\n")

for column in df_train:
    # Find all the unique feature values
    uniq = df_train[column].unique()
    print ("'{}' has {} unique values" .format(column,uniq.size))
    if (uniq.size > 10):
        print("~~Listing up to 10 unique values~~")
    print (uniq[0:10])
    print ("\n-----------------------------------------------------------------------\n")
    
    # Find features with missing values
    if (True in pd.isnull(uniq)):
        s = "{} has {} missing" .format(column, pd.isnull(df_train[column]).sum())
        missing_values.append(s)
    
    # Find features with non-numeric values
    for i in range (1, np.prod(uniq.shape)):
        if (re.match('nan', str(uniq[i]))):
            break
        if not (re.search('(^\d+\.?\d*$)|(^\d*\.?\d+$)', str(uniq[i]))):
            nonumeric_values.append(column)
            break
  
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")
print ("Features with missing values:\n{}\n\n" .format(missing_values))
print ("Features with non-numeric values:\n{}" .format(nonumeric_values))
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")

TRAINING SET INFORMATION
========================

'people_id' has 151295 unique values
~~Listing up to 10 unique values~~
['ppl_100' 'ppl_100002' 'ppl_100003' 'ppl_100006' 'ppl_100013' 'ppl_100019'
 'ppl_100025' 'ppl_100028' 'ppl_100029' 'ppl_100032']

-----------------------------------------------------------------------

'activity_id' has 2197291 unique values
~~Listing up to 10 unique values~~
['act2_1734928' 'act2_2434093' 'act2_3404049' 'act2_3651215' 'act2_4109017'
 'act2_898576' 'act2_1233489' 'act2_1623405' 'act2_1111598' 'act2_1177453']

-----------------------------------------------------------------------

'date' has 411 unique values
~~Listing up to 10 unique values~~
['2023-08-26' '2022-09-27' '2023-08-04' '2022-11-23' '2023-02-07'
 '2023-06-28' '2022-08-10' '2023-03-02' '2022-09-13' '2023-02-10']

-----------------------------------------------------------------------

'activity_category' has 7 unique values
['type 4' 'type 2' 'type 3' 'type 5' 'type 1' 'type 7' 'type 6']

-----------------------------------------------------------------------

'char_1' has 52 unique values
~~Listing up to 10 unique values~~
[nan 'type 3' 'type 36' 'type 24' 'type 2' 'type 5' 'type 12' 'type 23'
 'type 7' 'type 1']

-----------------------------------------------------------------------

'char_2' has 33 unique values
~~Listing up to 10 unique values~~
[nan 'type 5' 'type 11' 'type 6' 'type 2' 'type 1' 'type 16' 'type 14'
 'type 4' 'type 8']

-----------------------------------------------------------------------

'char_3' has 12 unique values
~~Listing up to 10 unique values~~
[nan 'type 1' 'type 5' 'type 6' 'type 3' 'type 7' 'type 8' 'type 4'
 'type 9' 'type 2']

-----------------------------------------------------------------------

'char_4' has 8 unique values
[nan 'type 1' 'type 3' 'type 2' 'type 4' 'type 6' 'type 5' 'type 7']

-----------------------------------------------------------------------

'char_5' has 8 unique values
[nan 'type 6' 'type 1' 'type 5' 'type 2' 'type 4' 'type 3' 'type 7']

-----------------------------------------------------------------------

'char_6' has 6 unique values
[nan 'type 3' 'type 1' 'type 2' 'type 4' 'type 5']

-----------------------------------------------------------------------

'char_7' has 9 unique values
[nan 'type 3' 'type 1' 'type 4' 'type 2' 'type 5' 'type 6' 'type 7'
 'type 8']

-----------------------------------------------------------------------

'char_8' has 19 unique values
~~Listing up to 10 unique values~~
[nan 'type 6' 'type 4' 'type 5' 'type 9' 'type 18' 'type 14' 'type 7'
 'type 3' 'type 8']

-----------------------------------------------------------------------

'char_9' has 20 unique values
~~Listing up to 10 unique values~~
[nan 'type 8' 'type 1' 'type 2' 'type 7' 'type 13' 'type 9' 'type 15'
 'type 4' 'type 6']

-----------------------------------------------------------------------

'char_10' has 6516 unique values
~~Listing up to 10 unique values~~
['type 76' 'type 1' 'type 1727' 'type 894' 'type 143' 'type 297' 'type 269'
 'type 230' 'type 276' 'type 503']

-----------------------------------------------------------------------

'outcome' has 2 unique values
[0 1]

-----------------------------------------------------------------------


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Features with missing values:
['char_1 has 2039676 missing', 'char_2 has 2039676 missing', 'char_3 has 2039676 missing', 'char_4 has 2039676 missing', 'char_5 has 2039676 missing', 'char_6 has 2039676 missing', 'char_7 has 2039676 missing', 'char_8 has 2039676 missing', 'char_9 has 2039676 missing', 'char_10 has 157615 missing']


Features with non-numeric values:
['people_id', 'activity_id', 'date', 'activity_category', 'char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10']

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

### So we have 2197291 rows and 15 columns.
All the data is categorical except the outcome which contains yes and no . 
According to submission file , we only need activity_id and outcome.
in the dataset, people_id' has 151295 unique values and no missing values, therefore approximately 14.5 activity_id is associated with each person. There are 7 different types of activities.
All corresponding activity characteristics have 2039676 missing values except char_10 .
Each row in the activity file represents a unique activity performed by a person on a certain date. 

Type 1 activities are different from type 2-7 activities because there are more known characteristics associated with type 1 activities (nine in total) than type 2-7 activities (which have only one associated characteristic).

In [11]:
# Review input features
print ("\n\n---------------------")
print ("PEOPLE SET INFORMATION")
print ("---------------------")
print ("Shape of training set:", df_people.shape, "\n")
print ("Column Headers:", list(df_people.columns.values), "\n")
print (df_people.dtypes)

---------------------
PEOPLE SET INFORMATION
---------------------
Shape of training set: (189118, 41)

Column Headers: ['people_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37', 'char_38']

people_id    object
char_1       object
group_1      object
char_2       object
date         object
char_3       object
char_4       object
char_5       object
char_6       object
char_7       object
char_8       object
char_9       object
char_10        bool
char_11        bool
char_12        bool
char_13        bool
char_14        bool
char_15        bool
char_16        bool
char_17        bool
char_18        bool
char_19        bool
char_20        bool
char_21        bool
char_22        bool
char_23        bool
char_24        bool
char_25        bool
char_26        bool
char_27        bool
char_28        bool
char_29        bool
char_30        bool
char_31        bool
char_32        bool
char_33        bool
char_34        bool
char_35        bool
char_36        bool
char_37        bool
char_38       int64
dtype: object

In [12]:
import re
missing_values = []
nonumeric_values = []

print ("PEOPLE SET INFORMATION")
print ("========================\n")

for column in df_people:
    # Find all the unique feature values
    uniq = df_people[column].unique()
    print ("'{}' has {} unique values" .format(column,uniq.size))
    if (uniq.size > 10):
        print("~~Listing up to 10 unique values~~")
    print (uniq[0:10])
    print ("\n-----------------------------------------------------------------------\n")
    
    # Find features with missing values
    if (True in pd.isnull(uniq)):
        s = "{} has {} missing" .format(column, pd.isnull(df_people[column]).sum())
        missing_values.append(s)
    
    # Find features with non-numeric values
    for i in range (1, np.prod(uniq.shape)):
        if (re.match('nan', str(uniq[i]))):
            break
        if not (re.search('(^\d+\.?\d*$)|(^\d*\.?\d+$)', str(uniq[i]))):
            nonumeric_values.append(column)
            break
  
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")
print ("Features with missing values:\n{}\n\n" .format(missing_values))
print ("Features with non-numeric values:\n{}" .format(nonumeric_values))
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")

PEOPLE SET INFORMATION
========================

'people_id' has 189118 unique values
~~Listing up to 10 unique values~~
['ppl_100' 'ppl_100002' 'ppl_100003' 'ppl_100004' 'ppl_100006' 'ppl_10001'
 'ppl_100010' 'ppl_100013' 'ppl_100019' 'ppl_100025']

-----------------------------------------------------------------------

'char_1' has 2 unique values
['type 2' 'type 1']

-----------------------------------------------------------------------

'group_1' has 34224 unique values
~~Listing up to 10 unique values~~
['group 17304' 'group 8688' 'group 33592' 'group 22593' 'group 6534'
 'group 25417' 'group 4204' 'group 45749' 'group 36096' 'group 18035']

-----------------------------------------------------------------------

'char_2' has 3 unique values
['type 2' 'type 3' 'type 1']

-----------------------------------------------------------------------

'date' has 1196 unique values
~~Listing up to 10 unique values~~
['2021-06-29' '2021-01-06' '2022-06-10' '2022-07-20' '2022-07-27'
 '2022-10-14' '2022-09-01' '2023-01-24' '2023-03-26' '2022-08-26']

-----------------------------------------------------------------------

'char_3' has 43 unique values
~~Listing up to 10 unique values~~
['type 5' 'type 28' 'type 4' 'type 40' 'type 6' 'type 8' 'type 14' 'type 7'
 'type 10' 'type 1']

-----------------------------------------------------------------------

'char_4' has 25 unique values
~~Listing up to 10 unique values~~
['type 5' 'type 9' 'type 8' 'type 25' 'type 6' 'type 7' 'type 10' 'type 1'
 'type 12' 'type 2']

-----------------------------------------------------------------------

'char_5' has 9 unique values
['type 5' 'type 9' 'type 4' 'type 8' 'type 7' 'type 6' 'type 1' 'type 2'
 'type 3']

-----------------------------------------------------------------------

'char_6' has 7 unique values
['type 3' 'type 2' 'type 4' 'type 1' 'type 6' 'type 5' 'type 7']

-----------------------------------------------------------------------

'char_7' has 25 unique values
~~Listing up to 10 unique values~~
['type 11' 'type 5' 'type 16' 'type 8' 'type 1' 'type 7' 'type 9' 'type 20'
 'type 2' 'type 17']

-----------------------------------------------------------------------

'char_8' has 8 unique values
['type 2' 'type 1' 'type 3' 'type 6' 'type 8' 'type 5' 'type 4' 'type 7']

-----------------------------------------------------------------------

'char_9' has 9 unique values
['type 2' 'type 4' 'type 1' 'type 3' 'type 6' 'type 8' 'type 5' 'type 9'
 'type 7']

-----------------------------------------------------------------------

'char_10' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_11' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_12' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_13' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_14' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_15' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_16' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_17' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_18' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_19' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_20' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_21' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_22' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_23' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_24' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_25' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_26' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_27' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_28' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_29' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_30' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_31' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_32' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_33' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_34' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_35' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_36' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_37' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_38' has 101 unique values
~~Listing up to 10 unique values~~
[ 36  76  99  84  90   2  91   0  60 100]

-----------------------------------------------------------------------


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Features with missing values:
[]


Features with non-numeric values:
['people_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37']

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

### So we have 189118 rows and 41 columns.

There are no missing values. 
The two files can be joined together using people_id as the common key. So we have more people_id in the people file than 

All variables are categorical, with the exception of 'char_38' in the people file, which is a continuous numerical variable.

## Let us merge the two datasets

In [13]:
# http://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins

#A left join will preserve the records of the "left" table.

df = pd.merge(df_train, df_people, on='people_id', how='left')
df.head(5)

,people_id,activity_id,date_x,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,...,False,True,True,False,False,True,True,True,False,36
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,...,False,True,True,False,False,True,True,True,False,36
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,...,False,True,True,False,False,True,True,True,False,36
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,...,False,True,True,False,False,True,True,True,False,36

In [14]:
# Review input features
print ("\n\n---------------------")
print ("SET INFORMATION")
print ("---------------------")
print ("Shape of training set:", df.shape, "\n")
print ("Column Headers:", list(df.columns.values), "\n")
print (df.dtypes)

---------------------
SET INFORMATION
---------------------
Shape of training set: (2197291, 55)

Column Headers: ['people_id', 'activity_id', 'date_x', 'activity_category', 'char_1_x', 'char_2_x', 'char_3_x', 'char_4_x', 'char_5_x', 'char_6_x', 'char_7_x', 'char_8_x', 'char_9_x', 'char_10_x', 'outcome', 'char_1_y', 'group_1', 'char_2_y', 'date_y', 'char_3_y', 'char_4_y', 'char_5_y', 'char_6_y', 'char_7_y', 'char_8_y', 'char_9_y', 'char_10_y', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37', 'char_38']

people_id            object
activity_id          object
date_x               object
activity_category    object
char_1_x             object
char_2_x             object
char_3_x             object
char_4_x             object
char_5_x             object
char_6_x             object
char_7_x             object
char_8_x             object
char_9_x             object
char_10_x            object
outcome               int64
char_1_y             object
group_1              object
char_2_y             object
date_y               object
char_3_y             object
char_4_y             object
char_5_y             object
char_6_y             object
char_7_y             object
char_8_y             object
char_9_y             object
char_10_y              bool
char_11                bool
char_12                bool
char_13                bool
char_14                bool
char_15                bool
char_16                bool
char_17                bool
char_18                bool
char_19                bool
char_20                bool
char_21                bool
char_22                bool
char_23                bool
char_24                bool
char_25                bool
char_26                bool
char_27                bool
char_28                bool
char_29                bool
char_30                bool
char_31                bool
char_32                bool
char_33                bool
char_34                bool
char_35                bool
char_36                bool
char_37                bool
char_38               int64
dtype: object

In [15]:
missing_values = []
nonumeric_values = []

print ("SET INFORMATION")
print ("========================\n")

for column in df:
    # Find all the unique feature values
    uniq = df[column].unique()
    print ("'{}' has {} unique values" .format(column,uniq.size))
    if (uniq.size > 10):
        print("~~Listing up to 10 unique values~~")
    print (uniq[0:10])
    print ("\n-----------------------------------------------------------------------\n")
    
    # Find features with missing values
    if (True in pd.isnull(uniq)):
        s = "{} has {} missing" .format(column, pd.isnull(df[column]).sum())
        missing_values.append(s)
    
    # Find features with non-numeric values
    for i in range (1, np.prod(uniq.shape)):
        if (re.match('nan', str(uniq[i]))):
            break
        if not (re.search('(^\d+\.?\d*$)|(^\d*\.?\d+$)', str(uniq[i]))):
            nonumeric_values.append(column)
            break
  
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")
print ("Features with missing values:\n{}\n\n" .format(missing_values))
print ("Features with non-numeric values:\n{}" .format(nonumeric_values))
print ("\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")

SET INFORMATION
========================

'people_id' has 151295 unique values
~~Listing up to 10 unique values~~
['ppl_100' 'ppl_100002' 'ppl_100003' 'ppl_100006' 'ppl_100013' 'ppl_100019'
 'ppl_100025' 'ppl_100028' 'ppl_100029' 'ppl_100032']

-----------------------------------------------------------------------

'activity_id' has 2197291 unique values
~~Listing up to 10 unique values~~
['act2_1734928' 'act2_2434093' 'act2_3404049' 'act2_3651215' 'act2_4109017'
 'act2_898576' 'act2_1233489' 'act2_1623405' 'act2_1111598' 'act2_1177453']

-----------------------------------------------------------------------

'date_x' has 411 unique values
~~Listing up to 10 unique values~~
['2023-08-26' '2022-09-27' '2023-08-04' '2022-11-23' '2023-02-07'
 '2023-06-28' '2022-08-10' '2023-03-02' '2022-09-13' '2023-02-10']

-----------------------------------------------------------------------

'activity_category' has 7 unique values
['type 4' 'type 2' 'type 3' 'type 5' 'type 1' 'type 7' 'type 6']

-----------------------------------------------------------------------

'char_1_x' has 52 unique values
~~Listing up to 10 unique values~~
[nan 'type 3' 'type 36' 'type 24' 'type 2' 'type 5' 'type 12' 'type 23'
 'type 7' 'type 1']

-----------------------------------------------------------------------

'char_2_x' has 33 unique values
~~Listing up to 10 unique values~~
[nan 'type 5' 'type 11' 'type 6' 'type 2' 'type 1' 'type 16' 'type 14'
 'type 4' 'type 8']

-----------------------------------------------------------------------

'char_3_x' has 12 unique values
~~Listing up to 10 unique values~~
[nan 'type 1' 'type 5' 'type 6' 'type 3' 'type 7' 'type 8' 'type 4'
 'type 9' 'type 2']

-----------------------------------------------------------------------

'char_4_x' has 8 unique values
[nan 'type 1' 'type 3' 'type 2' 'type 4' 'type 6' 'type 5' 'type 7']

-----------------------------------------------------------------------

'char_5_x' has 8 unique values
[nan 'type 6' 'type 1' 'type 5' 'type 2' 'type 4' 'type 3' 'type 7']

-----------------------------------------------------------------------

'char_6_x' has 6 unique values
[nan 'type 3' 'type 1' 'type 2' 'type 4' 'type 5']

-----------------------------------------------------------------------

'char_7_x' has 9 unique values
[nan 'type 3' 'type 1' 'type 4' 'type 2' 'type 5' 'type 6' 'type 7'
 'type 8']

-----------------------------------------------------------------------

'char_8_x' has 19 unique values
~~Listing up to 10 unique values~~
[nan 'type 6' 'type 4' 'type 5' 'type 9' 'type 18' 'type 14' 'type 7'
 'type 3' 'type 8']

-----------------------------------------------------------------------

'char_9_x' has 20 unique values
~~Listing up to 10 unique values~~
[nan 'type 8' 'type 1' 'type 2' 'type 7' 'type 13' 'type 9' 'type 15'
 'type 4' 'type 6']

-----------------------------------------------------------------------

'char_10_x' has 6516 unique values
~~Listing up to 10 unique values~~
['type 76' 'type 1' 'type 1727' 'type 894' 'type 143' 'type 297' 'type 269'
 'type 230' 'type 276' 'type 503']

-----------------------------------------------------------------------

'outcome' has 2 unique values
[0 1]

-----------------------------------------------------------------------

'char_1_y' has 2 unique values
['type 2' 'type 1']

-----------------------------------------------------------------------

'group_1' has 29899 unique values
~~Listing up to 10 unique values~~
['group 17304' 'group 8688' 'group 33592' 'group 6534' 'group 4204'
 'group 45749' 'group 36096' 'group 18035' 'group 9439' 'group 19662']

-----------------------------------------------------------------------

'char_2_y' has 3 unique values
['type 2' 'type 3' 'type 1']

-----------------------------------------------------------------------

'date_y' has 1196 unique values
~~Listing up to 10 unique values~~
['2021-06-29' '2021-01-06' '2022-06-10' '2022-07-27' '2023-01-24'
 '2023-03-26' '2022-08-26' '2023-04-21' '2023-07-15' '2022-07-26']

-----------------------------------------------------------------------

'char_3_y' has 43 unique values
~~Listing up to 10 unique values~~
['type 5' 'type 28' 'type 4' 'type 40' 'type 14' 'type 7' 'type 10'
 'type 6' 'type 11' 'type 1']

-----------------------------------------------------------------------

'char_4_y' has 25 unique values
~~Listing up to 10 unique values~~
['type 5' 'type 9' 'type 8' 'type 25' 'type 6' 'type 7' 'type 10' 'type 12'
 'type 2' 'type 1']

-----------------------------------------------------------------------

'char_5_y' has 9 unique values
['type 5' 'type 9' 'type 4' 'type 8' 'type 7' 'type 6' 'type 2' 'type 1'
 'type 3']

-----------------------------------------------------------------------

'char_6_y' has 7 unique values
['type 3' 'type 2' 'type 1' 'type 4' 'type 6' 'type 5' 'type 7']

-----------------------------------------------------------------------

'char_7_y' has 25 unique values
~~Listing up to 10 unique values~~
['type 11' 'type 5' 'type 8' 'type 7' 'type 9' 'type 20' 'type 2' 'type 17'
 'type 23' 'type 1']

-----------------------------------------------------------------------

'char_8_y' has 8 unique values
['type 2' 'type 3' 'type 6' 'type 8' 'type 5' 'type 4' 'type 7' 'type 1']

-----------------------------------------------------------------------

'char_9_y' has 9 unique values
['type 2' 'type 4' 'type 3' 'type 6' 'type 8' 'type 5' 'type 9' 'type 7'
 'type 1']

-----------------------------------------------------------------------

'char_10_y' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_11' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_12' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_13' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_14' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_15' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_16' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_17' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_18' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_19' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_20' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_21' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_22' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_23' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_24' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_25' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_26' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_27' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_28' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_29' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_30' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_31' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_32' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_33' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_34' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_35' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_36' has 2 unique values
[True False]

-----------------------------------------------------------------------

'char_37' has 2 unique values
[False True]

-----------------------------------------------------------------------

'char_38' has 101 unique values
~~Listing up to 10 unique values~~
[ 36  76  99  84  91   0  60 100  68  67]

-----------------------------------------------------------------------


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Features with missing values:
['char_1_x has 2039676 missing', 'char_2_x has 2039676 missing', 'char_3_x has 2039676 missing', 'char_4_x has 2039676 missing', 'char_5_x has 2039676 missing', 'char_6_x has 2039676 missing', 'char_7_x has 2039676 missing', 'char_8_x has 2039676 missing', 'char_9_x has 2039676 missing', 'char_10_x has 157615 missing']


Features with non-numeric values:
['people_id', 'activity_id', 'date_x', 'activity_category', 'char_1_x', 'char_2_x', 'char_3_x', 'char_4_x', 'char_5_x', 'char_6_x', 'char_7_x', 'char_8_x', 'char_9_x', 'char_10_x', 'char_1_y', 'group_1', 'char_2_y', 'date_y', 'char_3_y', 'char_4_y', 'char_5_y', 'char_6_y', 'char_7_y', 'char_8_y', 'char_9_y', 'char_10_y', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37']

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [16]:
df.describe()

            outcome       char_38
count  2.197291e+06  2.197291e+06
mean   4.439544e-01  4.998051e+01
std    4.968491e-01  3.608557e+01
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  5.900000e+01
75%    1.000000e+00  8.200000e+01
max    1.000000e+00  1.000000e+02

We simply drop the people_id,date_x,date_y,date_y,group_1 attribute, since we do not expect it to be informative about the outcome status.

In [61]:
df_1 = df.drop(['people_id','date_x','date_y','group_1'],axis =1)

### Converting the boolean to 1 and 0

In [62]:
df_1[['char_10_y','char_11','char_12','char_13','char_14','char_15','char_16','char_17','char_18','char_19','char_20','char_21','char_22','char_23','char_24','char_25','char_26','char_27','char_28','char_29','char_30',
   'char_31','char_32','char_33','char_34','char_35','char_36','char_37']] = df_1[['char_10_y','char_11','char_12','char_13','char_14','char_15','char_16','char_17','char_18','char_19','char_20','char_21','char_22','char_23','char_24','char_25','char_26','char_27','char_28','char_29','char_30',
   'char_31','char_32','char_33','char_34','char_35','char_36','char_37']].astype(int)

http://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [20]:
cat_columns = df_1.select_dtypes(['object']).columns

In [21]:
cat_columns

Index(['activity_id', 'activity_category', 'char_1_x', 'char_2_x', 'char_3_x',
       'char_4_x', 'char_5_x', 'char_6_x', 'char_7_x', 'char_8_x', 'char_9_x',
       'char_10_x', 'char_1_y', 'char_2_y', 'char_3_y', 'char_4_y', 'char_5_y',
       'char_6_y', 'char_7_y', 'char_8_y', 'char_9_y'],
      dtype='object')

### works only for Category
df_1[cat_columns] = df_1[cat_columns].apply(lambda x: x.cat.codes)

In [63]:
def get_series_ids(x):
    '''Function returns a pandas series consisting of ids, 
       corresponding to objects in input pandas series x
       Example: 
       get_series_ids(pd.Series(['a','a','b','b','c'])) 
       returns Series([0,0,1,1,2], dtype=int)'''

    values = np.unique(x)
    values2nums = dict(zip(values,range(len(values))))
    return x.replace(values2nums)

In [64]:
df_1['activity_category'] = get_series_ids(df_1['activity_category'])

### does not do the function. factorize is better
from sklearn import preprocessing
enc = preprocessing.LabelEncoder()
mask = ~df_1['char_1_x'].isnull()
enc.fit(df_1['char_1_x'][mask])
print('fitting')
df_1['char_1_x'][mask] = enc.transform(df_1['char_1_x'][mask])
print('transforming')
print(df_1['char_1_x'])
print('end')

In [94]:
df_1['char_1_x'] = df_1['char_1_x'].astype(float).fillna(0.0)

In [95]:
df_1.head(10)

,activity_id,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,char_8_x,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,0,3,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,0,0,1,1,1,0,36
1,1,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,0,0,1,1,1,0,36
2,2,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,0,0,1,1,1,0,36
3,3,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,0,0,1,1,1,0,36
4,4,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,0,0,1,1,1,0,36
5,5,3,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,0,0,1,1,1,0,36
6,6,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,1,1,1,1,1,0,76
7,7,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,1,1,1,1,1,1,1,0,76
8,8,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,0,1,1,1,1,0,1,1,99
9,9,1,-1.0,-1,-1,-1,-1,-1,-1,-1,...,0,0,1,1,1,1,0,1,1,99

In [67]:
df_1['char_2_x'] = df_1['char_2_x'].factorize()[0]

In [68]:
df_1['char_3_x'] = df_1['char_3_x'].factorize()[0]

In [69]:
df_1['char_4_x'] = df_1['char_4_x'].factorize()[0]

In [70]:
df_1['char_5_x'] = df_1['char_5_x'].factorize()[0]

In [71]:
df_1['char_6_x'] = df_1['char_6_x'].factorize()[0]

In [72]:
df_1['char_7_x'] = df_1['char_7_x'].factorize()[0]

In [73]:
df_1['char_8_x'] = df_1['char_8_x'].factorize()[0]

In [74]:
df_1['char_9_x'] = df_1['char_9_x'].factorize()[0]

In [75]:
df_1['char_10_x'] = df_1['char_10_x'].factorize()[0]

In [76]:
df_1['char_1_y'] = df_1['char_1_y'].factorize()[0]

In [77]:
df_1['char_2_y'] = df_1['char_2_y'].factorize()[0]

In [78]:
df_1['char_3_y'] = df_1['char_3_y'].factorize()[0]

In [79]:
df_1['char_4_y'] = df_1['char_4_y'].factorize()[0]

In [80]:
df_1['char_5_y'] = df_1['char_5_y'].factorize()[0]

In [81]:
df_1['char_6_y'] = df_1['char_6_y'].factorize()[0]

In [82]:
df_1['char_7_y'] = df_1['char_7_y'].factorize()[0]

In [83]:
df_1['char_8_y'] = df_1['char_8_y'].factorize()[0]

In [84]:
df_1['char_9_y'] = df_1['char_9_y'].factorize()[0]

In [85]:
df_1['activity_id'] = df_1['activity_id'].factorize()[0]

### get_dummies gives merrory error

df_1_get_dummies = df_1[['activity_category','char_1_x','char_2_x','char_3_x','char_4_x','char_5_x',
                                          'char_6_x','char_7_x','char_8_x','char_9_x','char_10_x','char_1_y','char_2_y','char_3_y',
                                          'char_4_y','char_5_y','char_6_y','char_7_y','char_8_y','char_9_y']]

### ValueError: ('Unable to parse string', 'occurred at index activity_id')

df_1 = df_1.apply(pd.to_numeric)

In [86]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2197291 entries, 0 to 2197290
Data columns (total 51 columns):
activity_id          int32
activity_category    int64
char_1_x             int32
char_2_x             int32
char_3_x             int32
char_4_x             int32
char_5_x             int32
char_6_x             int32
char_7_x             int32
char_8_x             int32
char_9_x             int32
char_10_x            int32
outcome              int64
char_1_y             int32
char_2_y             int32
char_3_y             int32
char_4_y             int32
char_5_y             int32
char_6_y             int32
char_7_y             int32
char_8_y             int32
char_9_y             int32
char_10_y            int32
char_11              int32
char_12              int32
char_13              int32
char_14              int32
char_15              int32
char_16              int32
char_17              int32
char_18              int32
char_19              int32
char_20              int32
char_21              int32
char_22              int32
char_23              int32
char_24              int32
char_25              int32
char_26              int32
char_27              int32
char_28              int32
char_29              int32
char_30              int32
char_31              int32
char_32              int32
char_33              int32
char_34              int32
char_35              int32
char_36              int32
char_37              int32
char_38              int64
dtypes: int32(48), int64(3)
memory usage: 469.4 MB

In [87]:
from sklearn.cross_validation import train_test_split
df_target = df_1['outcome']
df_data = df_1.drop(['outcome'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(df_data, df_target, test_size=0.25, random_state=33)

In [88]:
from sklearn import tree
dt = tree.DecisionTreeClassifier(criterion='entropy')
dt = dt.fit(X_train, y_train)

In [89]:
from sklearn import metrics
def measure_performance(X, y, clf, show_accuracy=True, show_classification_report=True, show_confussion_matrix=True):
    y_pred = clf.predict(X)   
    if show_accuracy:
         print ("Accuracy:{0:.3f}".format(metrics.accuracy_score(y, y_pred)),"\n")
    if show_classification_report:
        print ("Classification report")
        print (metrics.classification_report(y, y_pred),"\n")
      
    if show_confussion_matrix:
        print ("Confussion matrix")
        print (metrics.confusion_matrix(y, y_pred),"\n")

In [90]:
measure_performance(X_test, y_test, dt, show_confussion_matrix=False, show_classification_report=False)

Accuracy:0.968

In [93]:
#from sklearn import feature_selection
#fs = feature_selection.SelectPercentile(feature_selection.chi2, percentile=20)
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X_new = SelectKBest(chi2, k=2).fit_transform(X_train, y_train)
#X_train_fs = fs.fit_transform(X_train, y_train)
#print (df_data.columns[fs.get_support()])

ValueError: Input X must be non-negative.